<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    
    <meta charset:"utf-8">
    <meta name:"viewport" content:""width=device-width, initial-scale=1.0">
    <meta name:"author" content:"Kyle M.">
                                         
    <!-- Meta data for content cards -->
    <meta name:"description" content:"Makers Club page of projects and reasearch">
    <meta property="og:title" content="The DSU Makers Club">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Makers Club page of projects and reasearch">
    <meta property="og:url" content="https://github.com/DSUMakersClub/DSUMakersClub.github.io">
    <meta property="og:image" content="images/clubLogo.webp">
    
    <!-- Links to our syle sheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">                                                           
                                                           
  </head>
                                                            
  <body>

      {{ content }}

    </body>
</html>